* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    background: #F9F6F0;
    min-height: 100vh;
}

.header {
    background: #171515;
    border-bottom: 3px solid #C4AE78;
    width: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*flex: 1 1 0%;*/
}

.title {
    text-align: center;
    padding: 1rem;
    color: #F9F6F0;
    text-transform: uppercase;
}

.board {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    position: relative;
    border: 2px solid #6F5B3E;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* remove top border */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

/* remove left border */
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

/* remove bottom border */
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

/* remove right border */
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

/* create the X */
.cell.x::after,
.cell.x::before,
.board.turn-x .cell:not(.o):not(.x):hover::after,
.board.turn-x .cell:not(.o):not(.x):hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 90px;
    background-color: #171515;
    border-radius: 99px;
}

.cell.x::after,
.board.turn-x .cell:not(.o):not(.x):hover::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cell.x::before,
.board.turn-x .cell:not(.o):not(.x):hover::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* create the X for the hover */
.board.turn-x .cell:not(.o):not(.x):hover::after,
.board.turn-x .cell:not(.o):not(.x):hover::before {
    background-color: #C4AE78;
}

/* create the O */
.cell.o::before,
.board.turn-o .cell:not(.o):not(.x):hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border: 5px solid #171515;
    transform: translate(-50%, -50%);
    border-radius: 99px;
}

/* create the o for the hover */
.board.turn-o .cell:not(.o):not(.x):hover::before {
    border-color: #C4AE78;
}

/* display that not allowed to play in this cell */
.cell.o,
.cell.x {
    cursor: not-allowed;
}
